<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bartosz.whereismyfriend">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.example.bartosz.whereismyfriend.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.bartosz.whereismyfriend.permission.MAPS_RECEIVE" />
    >
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBUut8V6_T2MOIJq4_JzXv5u3m6slcAJZA" />

        <activity android:name=".CompleteRegisterActivity" />
        <activity
            android:name=".Home"
            android:label="@string/Home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyLocation"
            android:label="@string/title_activity_my_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyFriendLocation"
            android:label="@string/title_activity_my_friend_location"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchAllUsers"
            android:label="@string/title_activity_search_all_users"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RecivedInvitationsActivity"
            android:label="@string/title_activity_recived_invitations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SendedInvitationsActivity"
            android:label="@string/title_activity_send_invitations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyFriendsListActivity"
            android:label="@string/title_activity_my_friends_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserDetailsActivity"
            android:label="@string/title_activity_user_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".FriendsInNearbyActivity"
            android:label="@string/title_activity_friends_in_nearby"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <service android:name=".Services.UpdateUserLocationService"/>
    </application>

</manifest>